<%= turbo_stream.update "quiz-test-#{@quiz.id}" do %>
  <%if @is_quiz_enrollment_new %>
    <span id="quiz-test-<%= @quiz_id %>" class='bg-danger' >Unenroll</span>
  <%else%>
    <span id='quiz-test-<%= @quiz_id %>' class='bg-success' >Enroll</span>
  <%end%>
<%end%>

