@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.result-content {
  font-family: 'Sixtyfour', sans-serif;
  font-weight: bold;
}
.result-chart-container {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-chart-container .canvas-result-container {
  width: 20%;
}
.result-detail-title {
  font-size: 70px;
}
p {
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "font-family-sans-serif";
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}
.content {
	padding: 7rem 0;
}
h2 {
	font-size: 40px;
}
.table-responsive {
  background: #fff;
}
.custom-table {
	min-width: 900px;
	thead {
		tr, th {
      padding-bottom: 20px;
			border-top: none;
			border-bottom: none!important;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: .2rem;
		}
	}
  
	tbody {
    th:nth-child(3),
    td:nth-child(3) {
        width: 30%;
    }
		th, td {
			color: #777;
			font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      font-size: x-large;
      border: none;
      transition: .3s all ease;
      small {
        font-weight: 300;
      }
      .more{
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .2rem;
      }
		}
    tr {
      transition: .3s all ease;
      &:hover, &:focus {
        td {
          a {
            color: #fdd114;
          }
          .more{
            color: #fdd114;
          }
        }
      }
    }
	}
  .td-box-wrap {
    padding: 0;
  }
  .box {
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    td, th {
      border: none!important;
    }
  }
}
.result-table-index {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  -38px -38px 77px #bebebe,
               38px 38px 77px #ffffff;
  padding: 1rem;
}