<div class="container my-4">
  <div class="row">
    <div class="offset-md-3">
      <div class="confirmation-card my-4">
        <h3>Test Confirmation</h3>
        <p>Thank you for appearing in the test. Your report card will be emailed to you within 2 to 3 hours.</p>
      </div>
    </div>
  </div>
</div>